/* HEADER STYLES */
.name {
	height: 17vh;
	overflow: hidden;
}

.rest {
	height: 17vh;
	overflow: hidden;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

#youtubeDiv {
	position: fixed;
	top: 12vh;
	left: 10vw;
	width: 80vw;
	height: 85vh;
	padding: 4vw auto;
	margin: 0 auto;
	background-color: beige;
	z-index: 25;
	border: 2px solid #265a88;
}

#youtubeDiv iframe {
	position: fixed;
	top: 12vh;
	left: 10vw;
	width: 75vw;
	height: 85vh;
	padding: 4vw;
	margin: 0 auto;
}

#closeTrailer {
	margin: 0.5vw !important;
	width: 3vw;
	height: 3vw;
	margin: 0;
	z-index: 33;
	position: relative;
	top: -5vh;
}

#closeTrailer span {
	width: 2vw;
	height: 2vw;
}

#trailerHeader {
	padding: 1vh 2vw 1vh 2vw;
	margin: 0;	
}
#siteTitle {
	color: #265a88;
	font-size: 3vw;	
}

#siteTitle a{
	text-decoration: none;
	color: #265a88;
	padding: 1vh 3vw 0 3vw;
}

#siteTitle a:focus, #siteTitle a:hover{
	background-color: #265a88;
	color: white;
}

.currentPage {
	min-height: 4vh;
	padding-top: 1vh;
	background-color: #265a88;
	color: white;
}

.siteDescription {
	padding: 1vh 2vw 1vh 2vw;
	margin-top: 1vh;
	margin-right: 0;
	color: indigo;
	background-color: beige;
	border: 1px solid lightgray;
}

#moreChart {
	width: 7vw;
	height: 5vh;
	top: 51vh;
	left: 42vw;
}

#moreStat {
	width: 7vw;
	height: 5vh;
	top: 91vh;
	left: 42vw;
}

#moreGeo {
	width: 7vw;
	height: 5vh;
	top: 91vh;
	left: 92vw;
}

#MoreNews {
	width: 7vw;
	height: 5vh;
	top: 51vh;
	left: 92vw;
}

#moreChart, #moreStat, #moreGeo, #MoreNews {
	position: fixed;
	overflow: hidden;
	z-index: 18;
	color: white;
	background-color: #265a88;
	padding: 0 auto;
	margin: 0 auto;
}

#moreChart a, #moreStat a, #moreGeo a, #MoreNews a {
	color: white;
	background-color: #265a88;
	font-size: 1.1vw;
	padding: 0.5vh 1vw 0.5vh 1vw;
}
/* end HEADER STYLES */
