/* MAIN PART STYLES */
.chart {
	width: 100vw;
	left: 0;
	background-color: gray;	
}

.chartD {
	width: 50vw;
	height: 40vh;
	left: 0vw;
	top: 17vh;
	overflow: hidden;	
	position: absolute;	
	border: 1px solid lightgray;
}

.chartMax {
	width: 100vw;
	height: 80vh;
	left: 0vw;
	top: 17vh;
	overflow-y: scroll;
	position: absolute;	
}

.news {
	width: 100vw;
	left: 0;
	background-color: violet;
}

.newsD {
	width: 50vw;
	height: 40vh;
	left: 50vw;
	top: 17vh;
	overflow: hidden;
	position: absolute;
	border: 1px solid lightgray;
}

.newsMax {
	width: 100vw;
	height: 80vh;
	left: 0vw;
	top: 17vh;
	overflow-y: scroll;
	position: absolute;
}

.stat {
	width: 100vw;
	left: 0;
	background-color: white;
}

.statD {
	width: 50vw;
	top: 57vh;
	height: 40vh;
	left: 0vw;
	overflow: hidden;
	position: absolute;
	border: 1px solid lightgray;
}

.statMax {
	width: 100vw;
	height: 80vh;
	left: 0vw;
	top: 17vh;
	overflow-y: scroll;
	position: absolute;
}

.map {
	width: 100vw;
	left: 0;
	background-color: orange;
}

.mapD {
	width: 50vw;
	height: 40vh;
	left: 50vw;
	top: 57vh;
	overflow: hidden;
	position: absolute;
	border: 1px solid lightgray;
}

.mapMax {
	width: 100vw;
	height: 80vh;
	left: 0vw;
	top: 17vh;
	overflow-y: scroll;
	position: absolute;
}

#map {
	width:50vw;
	height:40vh;
	border: 1px solid lightgray;
	margin: 0 auto;
}

.dashHeaders {
	padding-left: 1vw;
}

.posterName {
	font-size: 1.5vw;
	color: indigo;
}

.posterImg {
	max-height: 25vh;
	border: 1px solid lightgray;
}

.posterOverview {
	font-size: 1.2vw;
	color: indigo;
}

.posterStart {
	font-size: 1.2vw;
	color: indigo;
}

.newsFeed li {
	padding-right: 3vw;
	font-size: 1.2vw;
}

.newsFeed li a{
	color: indigo;
}

.tableDesc {
	color: indigo;
	font-size: 1.3vw;
	padding-left: 1vw;
}

.columnHeader, .columnHeader a, .columnHeader button {
	font-size: 1.2vw !important;
	color: indigo;
}

.notLink {
	line-height: 5vh !important;
	font-weight: normal !important;
}

#filterTable {
	margin: 0 2vw auto;
	width: 95vw;
}

.chart {
	background-color: white !important;
}
/* end MAIN PART STYLES */