<!DOCTYPE html>
<html lang="en" ng-app="app">
	<base href="/">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- inject:_head:html -->
	    <title>MovieDash - dashboard of the data related to the movie industry</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet">
	<!-- endinject -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	</head>
	<body>
		<div class="container"> 
<!-- inject:header:html -->
<header class="header" id="header">
	<div class="row">
		<div class="name col-xs-11 col-sm-11 col-md-3 col-lg-3" ng-controller="getCurrent as currentPage">
			<h1 id="siteTitle" class="text-center">
				<a href="/#/">MovieDash</a>
			</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isCurrentPage('/')">
					<div class="currentPage text-center">
						<b>Movie business data</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isCurrentPage('/map')">
					<div class="currentPage text-center">
						<b>Geo data</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isCurrentPage('/chart')">
					<div class="currentPage text-center">
						<b>Now showing</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isCurrentPage('/news')">
					<div class="currentPage text-center">
						<b>News</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="isCurrentPage('/stat')">
					<div class="currentPage text-center">
						<b>Statistics</b>
					</div>
				</div>
			</div>
		</div> 
		<div class="col-xs-1 col-sm-1 hidden-md hidden-lg mobMenu">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" id="mobMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Mobile Menu">
					<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="mobMenuLink" href="#about" onblur="hideMobMenu();" role="button" ng-href="#/">Home</a></li>
					<li><a class="mobMenuLink" href="#restaurants" onblur="hideMobMenu();" role="button" ng-href="#/map">Geo data</a></li>
					<li><a class="mobMenuLink" href="#footer" onblur="hideMobMenu();" role="button" ng-href="#/chart">Chart</a></li>
					<li><a class="mobMenuLink" href="#restaurants" onblur="hideMobMenu();" role="button" ng-href="#/news">News</a></li>
					<li><a class="mobMenuLink" href="#footer" onblur="hideMobMenu();" role="button" ng-href="#/stat">Stats</a></li>
				</ul>
			</div>
		</div>
		<div class="rest col-xs-12 col-sm-12 col-md-9 col-lg-9">
			<div class="row">
				<div class="menuBar col-md-9 col-lg-9"> 
					<nav class="nav" id="nav">
						<a class="btn btn-primary btn-lg" role="button" ng-href="#/">Home</a>
						<a class="btn btn-primary btn-lg" role="button" ng-href="#/map">Geo data</a>
						<a class="btn btn-primary btn-lg" role="button" ng-href="#/chart">Now showing</a>
						<a class="btn btn-primary btn-lg" role="button" ng-href="#/news">News</a>
						<a class="btn btn-primary btn-lg" role="button" ng-href="#/stat">Statistics</a>
					</nav>
				</div>
				<div class="trailer col-md-3 col-lg-3" ng-controller="getTrailer as trailer">
					<button class="btn btn-primary btn-lg right-block" ng-click="showPopup()">Watch top trailer</button>	
					<div id="youtubeDiv" ng-show="showMe">
						<div>
							<h3 id=trailerHeader>Watch the trailer</h3> 
							<button id="closeTrailer" type="button" class="close" aria-label="Close" ng-click="showPopup();"><span aria-hidden="true">&times;</span></button>
						</div>
					</div> 
				</div>
			</div>
			<div class="row"> 		 
				<div class="motto col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="siteDescription">
						Check the movies currently showing at cinemas, top grossing films from current month and last year, news regarding film industry and the geospatial data from biggest cities through out the world.
					</div>
				</div> 
			</div>
		</div>
	</div> 
</header>
<!-- endinject -->
<!-- inject:nav:html --><!-- endinject -->
<!-- inject:main:html -->
<main class="main" id="main">
	<div ng-view>

    <div>
</main>
<!-- endinject -->
<!-- inject:aside:html -->
<aside class="aside" id="aside">
	
</aside>
<!-- endinject -->
<!-- inject:footer:html -->
<footer class="footer" id="footer">
	<div class="text-center">
		Created by <a href="mailto:rrruslan@yahoo.com">RD aka ronnieway</a>
	</div>
</footer>
<!-- endinject -->
<!-- inject:_scripts:html -->
 

    
<!--    <script src="/bower_components/angular/angular.min.js"></script>
-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="bower_components/chart.js/dist/Chart.min.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAEwrqTBUvPZpCqyjLjjst85AGzpQbS5Q" defer async></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script src="js/main.js"></script>

 
<!-- endinject -->
		</div>
	</body>
</html>